body {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: black;
}

a {
text-decoration:none;
}

.lg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: column;
}

.text {
  color: black;
  font-size: 20px;
  padding: 32px 32px;
  background-position: 0 75%;
  background-size: auto 5px;
  background-repeat: repeat-x;
  text-decoration: none;
}